@model DepartmentList.Models.Department
@{
    ViewData["Title"] = "部署追加";
}

<h2>部署登録</h2>

@if (ViewBag.ErrorMessage != null)
{
    <p style="color:red;">@ViewBag.ErrorMessage</p>
}

<form asp-action="Create" method="post">
    <div class ="form-group">
        <label asp-for="DepartmentId">部署ID</label>
        <input asp-for="DepartmentId" class="form-control" />
        <span asp-validation-for="DepartmentId" class="validation"></span>
    </div>
    <div class="form-group">
        <label asp-for="DepartmentName">部署名</label>
        <input asp-for="DepartmentName" class="form-control" />
        <span asp-validation-for="DepartmentName" class="validation"></span>
    </div>
    <div class="button-area">
        <button type="submit" class="btn btn-primary">登録</button>
    </div>
</form>
<p><a asp-controller="Departments" asp-action="Index">部署一覧へ戻る</a></p>