
@model List<WebEmployeeManagement.Applications.Domains.Department>
@{
    ViewData["Title"] = "部署一覧";
}

<h2>部署一覧</h2>
    
        <a asp-controller="DepartmentRegister" asp-action="Enter" class="btn btn-primary">部門登録</a>
          <a asp-controller="Home" asp-action="Index" class="btn btn-primary">ホーム</a>



<table class="table table-bordered">
    <thead>
        <tr>
            <th>部署ID</th>
            <th>部署名</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var department in Model)
    {
        <tr>
            <td>@department.Id</td>
            <td>@department.Name</td>
        </tr>
    }
    </tbody>
</table>