@{
    Layout = null;
}

<h2>メニュー</h2>
<ul>
    <li><a asp-controller="Employees" asp-action="Index">社員一覧</a></li>
    <li><a asp-controller="Departments" asp-action="Index">部署一覧</a></li>
</ul>