@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        <a asp-controller="EmployeeRegister" asp-action="Enter" class="btn btn-primary">社員登録</a>
  <a asp-controller="DepartmentRegister" asp-action="Enter" class="btn btn-primary">部署登録</a>
    </div>
