@using Microsoft.AspNetCore.Mvc;
@using WebEmployeeManagement.Infrastructures.Entities;
@using WebEmployeeManagement.Presentations.ViewModels
@model List<WebEmployeeManagement.Presentations.ViewModels.EmployeeListViewModel>
@{
    ViewData["Title"] = "社員一覧";
}

<h2>社員一覧</h2>
<a asp-controller="EmployeeRegister" asp-action="Enter" class="btn btn-primary">社員登録</a>
<a asp-controller="Home" asp-action="Index" class="btn btn-primary">ホーム</a>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>社員ID</th>
            <th>氏名</th>
            <th>部署名</th>
        </tr>
    </thead>
    <tbody>
        @foreach (EmployeeListViewModel employee in Model)
        {
            <tr>
                <td>@employee.EmpId</td>
                <td>@employee.Name</td>
                <td>@employee.DeptName</td>
            </tr>
        }
    </tbody>
</table>